/*decorative papers*/
#red_paper{
    position: absolute;
    height: 150px;
    width: 150px;
}
#green_paper{
    position: absolute;
    bottom: 15%;
    right: 10%;
    height: 150px;
    width: 150px;
}
#blue_paper{
    position: absolute;
    bottom: 15%;
    height: 150px;
    width: 150px;
}
#yellow_paper{
    position: absolute;
    right: 10%;
    height: 150px;
    width: 150px;
}

/*menu*/
.splash-screen{
    position: absolute;
    top: 10%;
    right: 27%;
    height: 500px;
    width: 750px;
    border-radius: 10%;
    background-color: silver;
    color: rgb(3, 121, 194);
    border-width: 50px;
    border: solid;
}

h1{
    position: absolute;
    top: -5%;
    right: 37%;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(61, 173, 243);
}

h2{
    position: absolute;
    top: 25%;
    right: 38%;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(61, 173, 243);
}

#amountOfVisits{
    position: absolute;
    top: 40%;
    right: 37%;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(61, 173, 243);
}

#nrOfPlayersMenu{
    position: absolute;
    top: 30%;
    left: 5%;
    height: 300px;
    width: 200px;
    border-radius: 10%;
    background-color: rgb(115, 117, 224);
    color: rgb(3, 67, 107);
    border-width: 50px;
    border: solid;
}

#gameType{
    position: absolute;
    top: 30%;
    right: 5%;
    height: 300px;
    width: 200px;
    border-radius: 10%;
    background-color: rgb(115, 117, 224);
    color: rgb(3, 67, 107);
    border-width: 50px;
    border: solid;
}

#playButton{
    position: absolute;
    bottom: 10%;
    right: 18%;
    border-radius: 25%;
    background-color: lightgrey;
    color: rgb(3, 121, 194);
    height: 100px;
    width: 500px;
    border: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

#twoplayers{
    position: absolute;
    bottom: 70%;
    right: 5%;
    border-radius: 25%;
    background-color: lightgrey;
    color: rgb(3, 121, 194);
    height: 50px;
    width: 175px;
    border: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#threeplayers{
    position: absolute;
    bottom: 45%;
    right: 5%;
    border-radius: 25%;
    background-color: lightgrey;
    color: rgb(3, 121, 194);
    height: 50px;
    width: 175px;
    border: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#fourplayers{
    position: absolute;
    bottom: 20%;
    right: 5%;
    border-radius: 25%;
    background-color: lightgrey;
    color: rgb(3, 121, 194);
    height: 50px;
    width: 175px;
    border: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#cpu{
    position: absolute;
    bottom: 70%;
    right: 5%;
    border-radius: 25%;
    background-color: lightgrey;
    color: rgb(3, 121, 194);
    height: 50px;
    width: 175px;
    border: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#online{
    position: absolute;
    bottom: 45%;
    right: 5%;
    border-radius: 25%;
    background-color: lightgrey;
    color: rgb(3, 121, 194);
    height: 50px;
    width: 175px;
    border: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#offline{
    position: absolute;
    bottom: 20%;
    right: 5%;
    border-radius: 25%;
    background-color: lightgrey;
    color: rgb(3, 121, 194);
    height: 50px;
    width: 175px;
    border: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}