<!DOCTYPE html>
<html>
    <head>
        <title>Ludo online</title>
        <link rel="stylesheet" href="splash.css">
    </head>
    <body  background="../images/TexturesCom_PaperCrumpled0004_1_seamless_S.jpg">
        <main>
                    <div class="splash-screen">
                            <form action="/main/main.html" method="get" id="form1">
                                <button id="playButton" form="form1" onclick="start_game()">Play</button>
                            </form>
                            <h1>LUDO</h1>
                            <h2>A four player game</h2>
                            <h3><%= gamesInitialized %> 
                                <%if (gamesInitialized != 1) { %>
                                    games
                                <% } else { %>
                                    game
                                <% } %>
                                initialized, 
                                <%= gamesCompleted %> 
                                completed
                            </h3>
                        <button id="playButton" form="form1" onclick="start_game()">Play</button>
                    </div>
                    <div id="amountOfVisits"></div>
                    <div id="highscore"></div>
                    <div id="red_paper"><img src="../images/diceplayerred.png" alt="blue icon"></div>
                    <div id="blue_paper"><img src="../images/diceplayerblue.png" alt="blue icon"></div>
                    <div id="yellow_paper"><img src="../images/diceplayeryellow.png" alt="blue icon"></div>
                    <div id="green_paper"><img src="../images/diceplayergreen.png" alt="blue icon"></div>
                    <div id="nrOfPlayersMenu">                       
                         <button id="twoplayers" onclick="twoplayers()">2 Players</button>
                         <button id="threeplayers" onclick="threeplayers()">3 Players</button>
                         <button id="fourplayers" onclick="fourplayers()">4 Players</button>
                    </div>
                    <div id="gameType">
                        <button id="cpu" onclick="cpu()">CPU</button>
                        <button id="online" onclick="online()">online</button>
                        <button id="offline" onclick="offline()">offline</button>
                    </div>
        </main>
    </body>
</html>